.header{
    background-color: #1C2B35;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    
}
.header a{
    text-decoration: none;
    margin-left: 17px;
    color: #ffffff;

}
.header a:hover{
    color:orange;
    text-decoration:underline;
}